* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #b1b1b182;
}

.wrapper {
  height: 100vh;
  width: 95%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
.image-slider {
  position: relative;
  overflow: hidden;
  background-color: grey;
  border-radius: 10px;
}
.swiper-container {
  padding: 10px 10px 40px 10px;
}
.image-slider-wrapper {
}
.swiper-wrapper {
}
.swiper-backface-hidden .swiper-slide {
}
.image-slider-slide .swiper-slide {
}
.swiper-slide {
  border-radius: 10px;
}
.image-slider-image {
  text-align: center;
}

.image-slider-image img {
  width: 100%;
  aspect-ratio: 4/3;
  object-fit: cover;
  border-radius: 10px;
}
.swiper-button-prev::after,
.swiper-button-next::after {
  color: rgb(0, 0, 0);
  font-size: 100px;
}
.swiper-pagination {
}
.swiper-pagination .swiper-pagination-bullet {
  width: 20px;
  height: 20px;
  line-height: 20px;
  font-size: 14px;
  background-color: #281111;
}

.swiper-button-next {
}
